.contenedor {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template: "titulo  titulo" "imagen  texto ";
    gap: 10px;
    position: relative;
    padding: 1%;
    border: solid black;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    margin-bottom: 1em;
}

.titulo {
    display: grid;
    margin: auto;
    grid-area: titulo;
    max-width: max-content;
    text-align: center;
    background: yellow;
    padding: 5%;
    border-radius: 10px;
}

.imagen {
    grid-area: imagen;
    margin-top: 1em;
}

.texto {
    grid-area: texto;
    margin-left: 2em;
    font-family: 'Roboto', sans-serif;
}

.text-titulo {
    font-family: 'Roboto', sans-serif;
}

.btn-eliminar {
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

.btn-guardar-tarde {
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

.sumar-restar {
    margin-left: 50px;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

.restar {
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

.numero {
    width: 15px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

.sumar {
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}

img {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}