* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 50px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(42, 0, 136);
}

label {
    float: right;
    color: #fff;
}

.fa-solid {
    margin-top: 15px;
    margin-left: 100;
    margin-right: 20px;
    font-size: 1.3em;
    font-weight: 400;
    grid-area: icono-barra;
    cursor: pointer;
    display: flex;
}

.content-vuelos {
    margin-top: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 1em;
    border: 1px solid #f0f0f0;
    box-shadow: rgb(16 0 79 / 12%) 0px 3px 9px 0px;
    border-radius: 8px;
}

.desc-vuelo {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #f0f0f0;
}

.cont-economico {
    display: flex;
    border-top-left-radius: 8px;
    overflow: hidden;
}

.origen-hora,
.destino-hora-llegada {
    display: block;
}

.duracion-del-vuelo {
    display: block;
}

.tipos-vuelos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.pasajero-vuelos {
    display: block;
}

#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(42, 0, 136);
}

#banner h2 {
    font-size: 28px;
}

.span-economico,
.recomendado {
    min-width: 100px;
    padding: 7px;
    position: relative;
    left: -8px;
    font-size: 20px;
    line-height: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 131, 124);
    clip-path: polygon(calc(0% + 10px) 0px, 100% 0px, calc(100% - 10px) 100%, 0px 100%);
}

.recomendado {
    border-radius: 0px 0px 60px;
    background-color: rgb(252, 195, 0);
}

.hora-salida,
.llegada-vuelo {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: rgb(42, 0, 136);
}

.precio {
    font-size: 20px;
    color: rgb(42, 0, 136);
}

.duracion-vuelo {
    font-weight: normal;
    font-size: 18px;
    color: rgb(92, 92, 92);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.vuelo-duracion {
    font-size: 15px;
    color: rgb(48, 48, 48);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.origen-vuelo,
.destino-vuelo {
    font-size: 20px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: rgb(48, 48, 48);
}

.destino-vuelo {
    margin-left: auto;
}

.vuelo-pasajeros {
    font-size: 15px;
    color: rgb(17, 131, 124);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.tipo-vuelo {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: rgb(24, 48, 236);
    cursor: pointer;
}