* { 
    margin: 0;
    padding: 0;
}
body {
    background: gainsboro;
}
header { 
    width: 100%;
}
.menu-bar {
    display: none;
}

nav {
    background: #023B59;
    position: fixed;
    width: Calc(100% - 80px);
}
ul {
    list-style: none;
}
nav ul {
    text-align: right;
} 
nav ul li{
    display: inline-block;
}
nav ul li:hover {
    background: #E6344A;
}
nav ul li span {
    margin-right: 10px;
}
nav ul li .icon-chevron-small-down {
    position: relative;
    top: 3px;
    margin-left: 10px;
}

a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.children {
    display: none;
    position: absolute;
    background: #023B59;

}
nav ul li:hover .children {
    display: block;
}
.children li {
    display: block;
    overflow: hidden;
}
.children li a {
    color:  white;
    display: block;
    text-align: left;
}
h1 {
    text-align: right;
    margin: 10px;
   font-size: 1.2em;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    
}
@media only screen and (max-width: 650px) {
    body {
        padding-top: 68px;
    }
    .menu-bar {
        display: block;
        position: fixed;
        width: 100%;
        background: #06344A;
        top: 0;
    }
    .bt-menu {
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        
    }
    .menu-bar span {
        float: right;
        font-size: 40px;
    }
    nav {
        width: 75%;
        position: fixed;
        height: 100%;
        background: #023b599c;
    }
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid  rgba(255,255,255,.5);
    }
    .children li {
        display: none;
    }
}



