* {
    margin: 0;
    padding: 0;
}

.encabezado {
    background: rgb(255, 241, 89);
    align-content: center;
    width: 100%;
    padding: 5px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template: "   img-mercado-libre    buscar    buscar       i " / 100px auto auto auto;
}

input {
    grid-area: buscar;
    outline: none;
    border: 2px rgb(25, 25, 25);
    cursor: pointer;
    height: 45px;
}

::placeholder {
    text-align: center;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

i {
    align-content: center;
    margin-top: .5em;
}

.main-content {
    box-sizing: border-box;
}

.buscar {
    grid-area: buscar;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    align-content: center;
    width: auto;
    border-radius: 5px;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}

.fa-solid {
    grid-area: i;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 1.5em;
}

.content-auto {
    display: grid;
    display: inline-block;
    box-sizing: border-box;
}

label {
    grid-area: label;
    padding: 20px;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}