* {
    margin: 0;
    padding: 0;
}
.encabezado {
    display: grid;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 241, 90);
    font-family: roboto, sans-serif;
    grid-template: "icono-barra busqueda icono-carrito" / 
                    1fr 7fr 1fr;
}
.icono-barra {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3em;
    font-weight: 400;
    grid-area: icono-barra;
    cursor: pointer;
}
.busqueda {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    height: 32px;
    display: block;
    margin: 15px auto 0 auto;
    grid-area: busqueda;
    font-weight: regular;
    font-family: roboto, sans-serif;
    color: red;
}



input[type="text"] {
    background-color: white;
    border-radius: 30px;
    width: 95%;
    height: 32px;
    display: block;
    margin: 15px auto 0 auto;
    grid-area: busqueda;
    border: 0;
    outline: none;
    padding-left: 20px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    color: rgb(0,0,0);
}

.style-contentImg {
    font-family: lato, sans-serif;
    display: grid;
    padding: 20px;
    box-sizing:border-box;
    border-bottom: 1px solid rgb(0,0,0,.3); 
    grid-template: "img-car descripcion" 25px 
                   "img-car precio" 25px 
                    "img-car kilometros" 25px
                    "img-car empty" auto /
                     6fr       8fr;
}
.img-style {
    width: 100%;
    grid-area: img-car;
}
.style-precio {
    font-family: lato, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    grid-area: precio;
    margin-left: 17px;
    color: rgba(24,24,24,.9);
}
.style-anyo {
    font-size: 1em;
    margin-left: 17px;
    display: block;
}

.style-contentSeparador {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 4px;
    margin-right: 4px;

}
.style-descripcion {
    display: block;
    margin-left: 17px;
    grid-area: descripcion;
}
.style-kilometraje {
    padding-top: 10px;
    grid-area: kilometros;
    margin-left: 17px;
    font-size: 0.9em;
    font-family: lato, sans-serif;
}


