body {
    margin: 0 3em;
}
h1 {
    text-align: center;
}
p {
    font-size: 1.5em;
    text-align: justify;
}
.espacio-letras {
   letter-spacing: 0.3em;
}
.espacio-palabras {
    word-spacing: 0.2em;
}
.espacio-lineas {
    line-height: 1.6em;
}